
<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body style="background-color:white">
        <table>
            <tr>
                <td width=125px><a href="/blog"> Main Blog Page </a> </td>
                <td> <a href="/new_post">Add a Blog</a></td>
            </tr>
        </table>
<!-- 
        {% with message = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor%}
            </ul>
            
        {% endwith %}
        -->
        {% block content %}
        {% endblock %}
    </body>
</html>