{% extends "base.html" %}

      
{% block content %}

    <style>
        .error {
            color: red;
        }
    </style>
    <h2 align="left"> Add a Blog </h2>

<form action = "/new_post"  method = "post" >  
    <table>
        <tr>
            <td><label for="Title for your new blog">Title for your new blog</label><td> 
        </tr> 
        <tr> 
            <td><input name="title" type="text" value="{{ title }}"></td>
        <tr>
        <tr>
            <td><span class="error">{{title_error}}</span></td>
        </tr>
        <tr>
            <td><label for="Your new blog">Your new blog</label></td>
        </tr>
        <tr> 
            <td><textarea type = "text"  name="blog" ></textarea></td>
        </tr>
        <tr>
            <td><span class="error">{{blog_error}}</span></td>
        </tr>

    </table>
    <input type="submit" value="Add Entry">
</form>
{% endblock %}

   